@charset "UTF-8";

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    main {
        width: 330px;
        height: 620px;
    }

    img {
        width: 100%;
        height: 36%;
        margin-bottom: 10px;
    }

    div#conteudo {
        float: none;
        padding-left: 20px;
    }

    div#conteudo > h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    diV#link {
        margin-top: 60px;
    }
}